[Unit]
Description=Telegram bot for retrieving schedules from BMSTU Bitop API

[Service]
Type=simple
EnvironmentFile=/etc/scheduled.conf
ExecStart=/usr/bin/scheduled

[Install]
WantedBy=multi-user.target
